body{
    background-color: skyblue;
    font-family: 'Times New Roman', Times, serif;
}
header{
    width: 100%;
    background-color: whitesmoke;
}
header article{
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
main{
    border-style: dotted;
    text-align: center;
    padding-top: 10px;
}
/* Memposisikan tiap poin di section about dan tugas */
main section div{
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
main section div p{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#about div{
    border-style: solid;
    border-radius: 30px;
    margin-top: 10px;
}
#tugas div{
    border-style: solid;
    border-radius: 30px;
    margin-top: 10px;
}
footer{
    background-color: white;
}
footer section div{
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
#social{
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 40px;
}
#social div {
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: aqua;
}
#contact{
    display: flex;
}
#contact div{
    display: flex;
    border-style: solid;
    border-width: 3px;
    border-color: skyblue;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}
#contact div p{
    text-decoration: underline;
}